# This workflow:
#  - builds and uploads a binary artifact for each Windows architecture
#  - tests the runner on Windows with a Forgejo server container running on Windows Subsystem for Linux (WSL)
#  - releases the binary artifacts as a GitHub release

name: Build Release
run-name: Build Release ${{ inputs.tag }}

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to release'
        type: string
        required: true
      goal:
        description: 'Goal of run'
        type: choice
        required: false
        options:
          - release
          - draft
          - test-fork
        default: release

jobs:
  build:
    name: Build ${{ matrix.architecture }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - architecture: '386'
            os: windows-latest
          - architecture: amd64
            os: windows-latest
          - architecture: arm
            os: windows-11-arm
          - architecture: arm64
            os: windows-11-arm
    steps:
      - uses: actions/checkout@v4
        with:
          github-server-url: https://code.forgejo.org
          repository: ${{ inputs.goal == 'test-fork' && vars.TEST_FORK || 'forgejo/runner' }}
          ref: ${{ inputs.tag }}
          token: ${{ secrets.CODE_FORGEJO_TOKEN }}

      - name: Build for ${{ matrix.architecture }}
        run: |
          $env:GOOS = 'windows'
          $env:GOARCH = '${{ matrix.architecture }}'
          go build `
            -ldflags "-s -w -X code.forgejo.org/forgejo/runner/v12/internal/pkg/ver.version=${{ inputs.tag }}" `
            -o forgejo-runner-windows-${{ matrix.architecture }}.exe

      - name: Check Version Output
        run: |
          $VERSION_OUTPUT = & .\forgejo-runner-windows-${{ matrix.architecture }}.exe --version
          if ($VERSION_OUTPUT -ne 'forgejo-runner version ${{ inputs.tag }}') {
            Write-Output "Version mismatch: got $VERSION_OUTPUT expected forgejo-runner version ${{ inputs.tag }}"
            exit 1
          }

      - uses: actions/upload-artifact@v4
        with:
          name: forgejo-runner-windows-${{ matrix.architecture }}
          path: forgejo-runner-windows-${{ matrix.architecture }}.exe

  test-runner:
    name: Run Tests on Windows with Linux Forgejo Server
    runs-on: windows-latest
    env:
      FORGEJO_ROOT_URL: 'http://localhost:3000/'
      FORGEJO_ADMIN_USER: 'admin_user'
      FORGEJO_ADMIN_PASSWORD: 'admin_password'
      FORGEJO_RUNNER_SECRET: 'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA'
      MAX_WAIT_ITERATIONS: 30

    steps:
      - name: Windows - Checkout code
        uses: actions/checkout@v4
        with:
          github-server-url: https://code.forgejo.org
          repository: ${{ inputs.goal == 'test-fork' && vars.TEST_FORK || 'forgejo/runner' }}
          ref: ${{ inputs.tag }}
          token: ${{ secrets.CODE_FORGEJO_TOKEN }}

      - name: Windows - Setup Windows Subsystem for Linux (WSL)
        uses: Vampire/setup-wsl@v6
        with:
          distribution: Alpine
          wsl-shell-user: root
          additional-packages: bash

      - name: WSL - Install Docker
        shell: wsl-bash {0}
        run: |
          apk --update add --no-cache docker curl

          rc-update add docker default
          openrc default

          # Wait for Docker to be ready
          i=0
          until docker info > /dev/null 2>&1 || (( i == ${{ env.MAX_WAIT_ITERATIONS }} )); do
            echo "Waiting for Docker to be ready... ($(( ++i ))/${{ env.MAX_WAIT_ITERATIONS }})"
            sleep 1
          done
          [ $i -lt ${{ env.MAX_WAIT_ITERATIONS }} ] && echo "Docker is ready!" || { echo "Timed out waiting for Docker" ; exit 1; }

      - name: WSL - Start Forgejo Server
        shell: wsl-bash {0}
        run: |
          docker run -d --name forgejo \
            -p 3000:3000 \
            -e USER_UID=1000 \
            -e USER_GID=1000 \
            -e FORGEJO__security__INSTALL_LOCK=true \
            -e FORGEJO__server__DOMAIN=localhost \
            -e FORGEJO__server__ROOT_URL=${{ env.FORGEJO_ROOT_URL }} \
            codeberg.org/forgejo/forgejo:11.0-rootless

      - name: Windows - Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Windows - Install dependencies
        run: go mod download

      - name: WSL - Register Runner on Forgejo Server
        # Starting the Forgejo server takes some time.
        # That time used to install go.
        shell: wsl-bash {0}
        run: |
          i=0
          until curl -s ${{ env.FORGEJO_ROOT_URL }}/api/v1/version > /dev/null || (( i == ${{ env.MAX_WAIT_ITERATIONS }} )); do
            echo "Waiting for Forgejo to be ready... ($(( ++i ))/${{ env.MAX_WAIT_ITERATIONS }})"
            sleep 1
          done
          [ $i -lt ${{ env.MAX_WAIT_ITERATIONS }} ] && echo "Forgejo is ready!" || { echo "Timed out waiting for Forgejo" ; exit 1; }

          # Create admin user and generate runner token
          docker exec forgejo forgejo admin user create --admin --username ${{ env.FORGEJO_ADMIN_USER }} --password ${{ env.FORGEJO_ADMIN_PASSWORD }} --email root@example.com
          docker exec forgejo forgejo forgejo-cli actions register --labels docker --name therunner --secret ${{ env.FORGEJO_RUNNER_SECRET }}

      - name: Windows - Connect to Forgejo server
        run: |
          $configFileContent = @"
          log:
            level: debug
          runner:
            labels:
              - windows:host
              - docker:docker://node:20
          "@
          Set-Content -Path temporaryConfig.yml -Value $configFileContent

          # Register the runner
          go run main.go create-runner-file --config temporaryConfig.yml --instance ${{ env.FORGEJO_ROOT_URL }} --secret ${{ env.FORGEJO_RUNNER_SECRET }} --name "windows-test-runner"

      - name: Windows - Run tests
        run: go test -v ./internal/...
        env:
          FORGEJO_URL: ${{ env.FORGEJO_ROOT_URL }}
          FORGEJO_RUNNER_SECRET: ${{ env.FORGEJO_RUNNER_SECRET }}
          FORGEJO_RUNNER_HEX_SECRET: ${{ env.FORGEJO_RUNNER_SECRET }}

  test-act:
    name: Run Act Tests on Windows
    runs-on: windows-latest

    steps:
      - name: Windows - Checkout code
        uses: actions/checkout@v4
        with:
          github-server-url: https://code.forgejo.org
          repository: ${{ inputs.goal == 'test-fork' && vars.TEST_FORK || 'forgejo/runner' }}
          ref: ${{ inputs.tag }}
          token: ${{ secrets.CODE_FORGEJO_TOKEN }}

      - name: Windows - Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Windows - Install dependencies
        run: go mod download

      - name: Windows - Run tests
        run: go test -v ./act/...
        env:
          ACT_REPOSITORY: ${{ inputs.goal == 'test-fork' && vars.TEST_FORK || 'forgejo/runner' }}  # Needed for TestRunContext_GetBindsAndMounts test case

  release:
    runs-on: ubuntu-latest
    needs: [build, test-runner, test-act]
    if: ${{ always() && needs.build.result == 'success' && inputs.goal != 'test-fork' }}
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: .

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ inputs.tag }}
          files: forgejo-runner-windows-*/forgejo-runner-windows-*.exe
          draft: ${{ needs.test.result != 'success' || inputs.goal == 'draft' }}
          prerelease: ${{ contains(inputs.tag, 'beta') || contains(inputs.tag, 'alpha') }}
          fail_on_unmatched_files: true
          body: |
            See [original release notes](https://code.forgejo.org/forgejo/runner/releases/tag/${{ inputs.tag }}).
            
            Forgejo runner:
            - [Source Code (zip)](https://code.forgejo.org/forgejo/runner/archive/${{ inputs.tag }}.zip)
            - [Source Code (tar.gz)](https://code.forgejo.org/forgejo/runner/archive/${{ inputs.tag }}.tar.gz)
